{% extends "base.html" %}
{% block title %}Advanced search{% endblock %}
{% block content %}
<h2>Advanced search</h2>
<br>
<form action="/result" method="GET">
  <select name="field">
    <option value="all_fields">all fields</option>
    <option value="author">author</option>
    <option value="title">title</option>
    <option value="journal">journal</option>
    <option value="year">year</option>
    <option value="booktitle">booktitle</option>
    <option value="publisher">publisher</option>
    <option value="address">address</option>
    <option value="volume">volume</option>
    <option value="numer">number</option>
    <option value="pages">pages</option>
    <option value="month">month</option>
    <option value="note">note</option>
    <option value="editor">editor</option>
    <option value="series">series</option>
    <option value="organization">organization</option>
    <option value="edition">edition</option>
  </select>
  <input type="text" name="advanced_query" maxlength="5000">
  <input type="submit" value="Advanced search">
</form>
{%endblock%}