{% extends "base.html" %}
{% block title %}Article reference{% endblock %}
{% block content %}
    <div class="ref">
        <h2 class="ref-header">{{article.title}}</h2>
        <p class="ref-detail">Author: {{ article.author }}</p>
        <p class="ref-detail">Journal: {{ article.journal }}</p>
        <p class="ref-detail">Year: {{ article.year }}</p>
        <p class="ref-detail">Volume: {{ article.volume or "-"}}</p>
        <p class="ref-detail">Number: {{ article.number or "-"}}</p>
        <p class="ref-detail">Pages: {{ article.pages or "-"}}</p>
        <p class="ref-detail">Month: {{ article.month or "-"}}</p>
        <p class="ref-detail">Note: {{ article.note or "-"}}</p>
    </div>
    <div class="ref">
        <h2>LaTeX entry</h2>
        <pre><div id="latex">
{%raw%}
@article{your_tag_here,
    title        = {{%endraw%}{{article.title}}{%raw%}},
    author       = {{%endraw%}{{article.author}}{%raw%}},
    journal      = {{%endraw%}{{article.journal}}{%raw%}},
    year         = {{%endraw%}{{article.year}}{%raw%}},
    volume       = {{%endraw%}{{article.volume or ""}}{%raw%}},
    number       = {{%endraw%}{{article.number or ""}}{%raw%}},
    pages        = {{%endraw%}{{article.pages or ""}}{%raw%}}
    month        = {{%endraw%}{{article.month or ""}}{%raw%}},
    note         = {{%endraw%}{{article.note or ""}}{%raw%}}
}
{%endraw%}
    </div></pre>
    <button id="copy-button">Copy LaTeX</button>
    <br>
    <br>
    <p id="copied" style="display: none; color: lime">Copied!</p>
    </div>
    <div class="ref">
        <h3>Options</h3>
        <a href="/edit/article/{{article.id}}">Edit reference</a> | <a href="/delete/article/{{article.id}}">Delete reference</a>
    </div>
    <script>
        const latex = document.getElementById("latex");
        const copyButton = document.getElementById("copy-button");

        copyButton.addEventListener("click", function(){
            navigator.clipboard.writeText(latex.textContent.trim()).then(() => {
                copied.style.display = "block";
                setTimeout(function() {
                    copied.style.display = "none";
                }, 1000);
            }).catch(err => {
                console.error("Unable to copy text", err);
            });
        });
    </script>
{%endblock%}