<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- METADATA BLOCK -->
  <meta name="referrer" content="no-referrer">
  <meta name="color-scheme" content="light dark">
  <meta name="viewport" content="initial-scale=1, width=device-width">
  <link rel="stylesheet" href="/static/main.css">

  <!-- LINKS -->
  <link rel="icon" href="data:,">
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <header>
    <div class="header-left">
      <a href="/">Main page</a>
    </div>
    <div class="header-right">
      <form id="search-form" action="/result" method="GET">
        <input type="text" name="query" maxlength="5000" placeholder="Search...">
        <input type="submit" value="Search">
      </form>
    </div>
  </header>
  <div class="content">{% block content %}{% endblock %}</div>
</body>

</html>
