<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>

  <!-- METADATA BLOCK -->
  <meta name="referrer" content="no-referrer">
  <meta name="color-scheme" content="light dark">
  <meta name="viewport" content="initial-scale=1, width=device-width">

  <!-- LINKS -->
  <link rel="icon" href="data:,">
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <header>
    <a href="/">Main page</a>
    <hr>
  </header>
  {% block content %}{% endblock %}
</body>

</html>
