{% extends "base.html" %}
{% block title %}Book reference{% endblock %}
{% block content %}
    <h2>{{ref.title}}</h2>
    <ul>
        <li>Author: {{ ref.author }}</li>
        <li>Publisher: {{ ref.publisher }}</li>
        <li>Year: {{ ref.year }}</li>
        <li>Address: {{ ref.address }}</li>
    </ul>
    <h2>LaTeX entry</h2>
    <pre>
{%raw%}
@book{your_tag_here,
    author       = {{%endraw%}{{ref.author}}{%raw%}},
    year         = {%endraw%}{{ref.year}}{%raw%},
    title        = {{%endraw%}{{ref.title}}{%raw%}},
    publisher    = {{%endraw%}{{ref.publisher}}{%raw%}},
    address      = {{%endraw%}{{ref.address}}{%raw%}}
    }
{%endraw%}
{{ ref.type }}
    </pre>
    <hr>
    <h3>Options</h3>
    <a href="/edit/{{ ref_type }}/{{ref.id}}">Edit reference</a> | <a href="/delete/{{ ref_type }}/{{ ref.id }}">Delete reference</a>
{%endblock%}
