{% extends "base.html" %}
{% block title %}Create {{ ref.type | capitalize }} reference{% endblock %}
{% block content %}
    <form action="/create_reference/{{ ref.type }}" method="post">
        {% set details = ref.details() %}
        {% for key, _ in details.items() %}
            <h3>{{ key | capitalize }}</h3>
            <textarea name="{{ key }}" rows="1" cols="50" maxlength="100" {% if key in ref.required %}required="true"{% endif %}>{{val or ""}}</textarea>
        {% endfor %}
        <!-- Should integers be assigned from numbre input field? -->
        <!-- <input type="number" name="year" step="1" min="1900" max="2099" required></input> -->

        <br>
        <br>
        <input type="submit" value="Create">
        {% if error or False %}<p style="color:red">Error: {{ error }}</p>{% endif %}
    </form>
{%endblock%}
