{% extends "base.html" %}
{% block title %}Create article reference{% endblock %}
{% block content %}
    <form action="/create_reference/article" method="post">
        <h3>Author</h3>
        <textarea name="author" rows="1" cols="50" maxlength="100" required></textarea>

        <h3>Title</h3>
        <textarea name="title" rows="3" cols="100" maxlength="300" required></textarea>

        <h3>Booktitle</h3>
        <textarea name="booktitle" rows="1" cols="100" maxlength="100" required></textarea>

        <h3>Year</h3>
        <input type="number" name="year" step="1" min="1900" max="2099" required></input>

        <h3>Editor*</h3>
        <textarea name="editor" rows="1" cols="100" maxlength="100"></textarea>

        <h3>Volume*</h3>
        <input type="number" name="volume" min="0" max="2099"></input>

        <h3>Number*</h3>
        <input type="number" name="number" min="0" max="2099"></input>

        <h3>Series*</h3>
        <textarea name="series" rows="1" cols="100" maxlength="100"></textarea>

        <h3>Pages*</h3>
        <textarea name="pages" rows="1" cols="100" maxlength="100"></textarea>

        <h3>Address*</h3>
        <textarea name="address" rows="1" cols="100" maxlength="100"></textarea>
        
        <h3>Month*</h3>
        <textarea name="month" rows="1" cols="100" maxlength="100"></textarea>

        <h3>Organization*</h3>
        <textarea name="ogranization" rows="1" cols="100" maxlength="100"></textarea>

        <h3>Publisher*</h3>
        <textarea name="publisher" rows="1" cols="100" maxlength="100"></textarea>

        <br>
        <p>*optional</p>
        <br>
        <input type="submit" value="Create">
        {%if error%}<p style="color:red">Error: {{ error_message }}</p>{%endif%}
    </form>
{%endblock%}
