{% extends "base.html" %}
{% block title %}Delete article reference{% endblock %}
{% block content %}
    <form action="/delete/article/{{article.id}}" method="post">
    Are you sure you want to delete the reference with the following details?
        <ul>
            <li>Author: {{ article.author }}</li>
            <li>Title: {{ article.title }}</li>
            <li>Journal: {{ article.journal }}</li>
            <li>Year: {{ article.year }}</li>
        </ul>
        <input type="submit" value="Delete" style="background:red;"> <input type="button" onclick="location.href='/article/{{article.id}}';" value="Cancel">
        {%if error%}<p style="color:red">Error: {{ error_message }}</p>{%endif%}
    </form>
{%endblock%}
