{% extends "base.html" %}
{% block title %}Edit article reference{% endblock %}
{% block content %}
<div class="content">
    <form action="/edit/article/{{article.id}}" method="post">
        <h3>Author</h3>
        <textarea name="author" rows="1" cols="50" maxlength="100" required>{{article.author}}</textarea>

        <h3>Title</h3>
        <textarea name="title" rows="3" cols="100" maxlength="300" required>{{article.title}}</textarea>

        <h3>Journal</h3>
        <textarea name="journal" rows="1" cols="100" maxlength="100" required>{{article.journal}}</textarea>

        <h3>Year</h3>
        <input type="number" name="year" step="1" min="1900" max="2099" value="{{article.year}}" required></input>

        <h3>Volume*</h3>
        <input type="number" name="volume" min="0" max="2099" value="{{article.volume}}"></input>

        <h3>Number*</h3>
        <input type="number" name="number" min="0" max="2099" value="{{article.number}}"></input>

        <h3>Pages*</h3>
        <textarea name="pages" rows="1" cols="100" maxlength="100">{{article.pages or ""}}</textarea>

        <h3>Month*</h3>
        <textarea name="month" rows="1" cols="100" maxlength="100">{{article.month or ""}}</textarea>

        <h3>Note*</h3>
        <textarea name="note" rows="1" cols="100" maxlength="100">{{article.note or ""}}</textarea>


        <br>
        <p>*optional</p>
        <br>
        <input type="submit" value="Save changes"> <input type="button"
            onclick="location.href='/article/{{article.id}}';" value="Cancel">
        {%if error%}<p style="color:red">Error: {{ error_message }}</p>{%endif%}
    </form>
</div>
{%endblock%}