{% extends "base.html" %}
{% block title %}Edit {{ ref.type | capitalize }} reference{% endblock %}
{% block content %}
    {% set details = ref.details() %}
    <form action="/edit/{{ ref.type }}/{{ ref.id }}" method="post">
        {% for key, val in details.items() %}
            <h3>{{ key | capitalize }}</h3>
            <textarea name="{{ key }}" rows="1" cols="50" maxlength="100" {% if key in ref.required %}required{% endif %}>{{val or ""}}</textarea>
        {% endfor %}
        <br>
        <br>
        <input type="submit" value="Save changes"> <input type="button" onclick="location.href='/{{ ref.type }}/{{ ref.id }}';" value="Cancel">
        {% if error or False %}<p style="color:red">Error: {{ error }}</p>{% endif %}
    </form>
{%endblock%}
