{% extends "base.html" %}
{% block title %}Reference Database{% endblock %}
{% block content %}
  <p style="color: lime" class="main-page-title">{% if message == "createsuccess"%}Reference was created successfully.{% elif message == "deletesuccess"%}Reference was deleted successfully.{%endif%}</p>
  <h1 class="main-page-title">Reference Database</h1>
  <div class="main-page-buttons">
    <div class="main-button">
      <a href="/create_reference/article">Create article reference</a>
    </div>
    <div class="main-button">
      <a href="/create_reference/book">Create book reference</a>
    </div>
    <div class="main-button">
      <a href="create_reference/inproceedings">Create inproceedings reference</a>
    </div>
    <div class="main-button">
      <a href="create_reference/manual">Create manual reference</a>
    </div>
    <div class="main-button">
      <a href="/refs">List of References</a>
    </div>
    <div class="main-button">
      <a href="/advanced_search">Advanced search</a>
    </div>
  </div>
{%endblock%}
