{% extends "base.html" %}
{% block title %}inproceedings reference{% endblock %}
{% block content %}
    <div class="ref">
        <h2 class="ref-header">{{ ref.title }}</h2>
        <p class="ref-detail">Author: {{ ref.author }}</p>
        <p class="ref-detail">Booktitle: {{ ref.booktitle }}</p>
        <p class="ref-detail">Year: {{ ref.year }}</p>
        <p class="ref-detail">Editor: {{ ref.editor or "-"}}</p>
        <p class="ref-detail">Volume: {{ ref.volume or "-"}}</p>
        <p class="ref-detail">Number: {{ ref.number or "-"}}</p>
        <p class="ref-detail">Series: {{ ref.series or "-"}}</p>
        <p class="ref-detail">Pages: {{ ref.pages or "-"}}</p>
        <p class="ref-detail">Address: {{ ref.address or "-"}}</p>
        <p class="ref-detail">Month: {{ ref.month or "-"}}</p>
        <p class="ref-detail">Organization: {{ ref.organization or "-"}}</p>
        <p class="ref-detail">Publisher: {{ ref.publisher or "-"}}</p>
    </div>
    <div class="ref">
        <h2>LaTeX entry</h2>
        <pre>
{%raw%}
@article{your_tag_here,
    title        = {{%endraw%}{{ref.title}}{%raw%}},
    author       = {{%endraw%}{{ref.author}}{%raw%}},
    year         = {{%endraw%}{{ref.year}}{%raw%}},
    month        = {{%endraw%}{{ref.month or ""}}{%raw%}},
    booktitle    = {{%endraw%}{{ref.booktitle}}{%raw%}},
    publisher    = {{%endraw%}{{ref.publisher or ""}}{%raw%}},
    address      = {{%endraw%}{{ref.address or ""}}{%raw%}},
    series       = {{%endraw%}{{ref.series or ""}}{%raw%}},
    volume       = {{%endraw%}{{ref.volume or ""}}{%raw%}},
    number       = {{%endraw%}{{ref.number or ""}}{%raw%}},
    pages        = {{%endraw%}{{ref.pages or ""}}{%raw%}}
    editor       = {{%endraw%}{{ref.organization or ""}}{%raw%}},
    note         = {{%endraw%}{{ref.note or ""}}{%raw%}}
}
{%endraw%}
        </pre>
    </div>
    <div class="ref">
        <h3>Options</h3>
        <a href="/edit/inproceedings/{{ref.id}}">Edit reference</a> | <a href="/delete/inproceedings/{{ref.id}}">Delete reference</a>
    </div>
{%endblock%}
