{% extends "base.html" %}
{% block title %}{{ title or "References" }}{% endblock %}
{% block content %}
    {%if references%}
        <a href="/generate_bib">Download .bib file of all references</a>
        {% set result_count = references | length %}
        {% if result_count == 1 %}
            <p>Found 1 reference:</p>
        {% else %}
            <p>Found {{ result_count }} references:</p>
        {% endif %}
        <div class="dropdown">
            <button>Sort</button>
            <div class="dropdown-content">
                <a href="/order_references/new_to_old">Year New To Old</a>
                <a href="/order_references/old_to_new">Year Old To New</a>
                <a href="/order_references/author_a_to_z">Author (a-z)</a>
                <a href="/order_references/author_z_to_a">Author (z-a)</a>
            </div>
        </div>
        {% for ref in references %}
            <div class="ref">
                <h2 class="ref-header"><a href="/article/{{ ref.id }}" name="article">View reference</a></h2>
                <p class="ref-detail">Author: {{ ref.author }}</p>
                <p class="ref-detail">Title: {{ ref.title }}</p>
                <p class="ref-detail">Journal: {{ ref.journal }}</p>
                <p class="ref-detail">Year: {{ ref.year }}</p>
                <p class="ref-detail">Volume: {{ ref.volume or ""}}</p>
                <p class="ref-detail">Number: {{ ref.number or ""}}</p>
                <p class="ref-detail">Pages: {{ ref.pages or ""}}</p>
                <p class="ref-detail">Month: {{ ref.month or ""}}</p>
                <p class="ref-detail">Note: {{ ref.note or ""}}</p>
            </div>
        {% endfor %}
    {%else%}
    <p>No results.</p>
    {%endif%}
{%endblock%}
