{% extends "base.html" %}
{% block title %}{{ title or "References" }}{% endblock %}
{% block content %}
    {%if references%}
        {% set result_count = references | length %}
        {% if result_count == 1 %}
            <p>Found 1 reference:</p>
        {% else %}
            <p>Found {{ result_count }} references:</p>
        {% endif %}
        {% for ref in references %}
            {% set details = ref.details() %}
            <div class="ref">
                <h2><a href="/{{ ref.type }}/{{ ref.id }}">View reference</a></h2>
                {% for key, val in details.items() %}
                    {% if key != "id" and key != "type" and val != None %}
                        <p class="ref-key">{{ key | capitalize }}: {{ val or "-" }}</li>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    {%else%}
    <p>No results.</p>
    {%endif%}
{%endblock%}
