{% extends "base.html" %}
{% block title %}References{% endblock %}
{% block content %}
<div class="content">
    {%if references%}
        <a href="/generate_bib">Download .bib file of all references</a>
        {% set result_count = references | length %}
        {% if result_count == 1 %}
            <p>Found 1 reference:</p>
        {% else %}
            <p>Found {{ result_count }} references:</p>
        {% endif %}
        {% for ref in references %}
            <hr>
            <h2><a href="/article/{{ ref.id }}" name="article">View reference</a></h2>
            <ul>
                <li>Author: {{ ref.author }}</li>
                <li>Title: {{ ref.title }}</li>
                <li>Journal: {{ ref.journal }}</li>
                <li>Year: {{ ref.year }}</li>
            </ul>
        {% endfor %}
    {%else%}
        <p>No results.</p>
    {%endif%}
</div>
{%endblock%}